.header {
    padding: 20px;
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
  }
  
.logoTitulo{
  width: 20%;
  margin-left: 1rem;
}

.titulo {
  font-size: 2rem;
  font-family: "Caveat", cursive;
  font-weight: 700;
  color: #ffffff;
}

.nav {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navText {
  font-size: 0.8rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.navText:hover {
  font-weight: 800;
}