.header {
  padding: 20px;
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.logoTitulo {
  width: 20%;
  margin-left: 1rem;
}

.titulo {
  font-size: 2rem;
  font-family: "Caveat", cursive;
  font-weight: 700;
  color: #ffffff;
}

.nav {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navText {
  font-size: 0.8rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.navText:hover {
  font-weight: 800;
}



@media (max-width: 768px) {
  .header {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
  }

  .logoTitulo {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }

  .titulo {
    font-size: 1.5rem;
  }

  .nav {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .navText {
    font-size: 1rem;
    margin: 10px 0;    
  }

  .nav {
    display: none; 
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .navText {
    font-size: 1rem;
    padding: 10px;
    text-transform: uppercase;
  }


  .hamburger {
    display: block;
    font-size: 2rem;
    color: #ffffff;
    cursor: pointer;
  }

  .nav.active {
    display: flex;
  }
}



@media (max-width: 480px) {

}
