.categoria {
    width: 100%;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.degrade {
    background: linear-gradient(to bottom, #FFB7C5, #FFFFFF);
    width: 100%;
    height: 11rem;
    position: absolute;
    margin-top: 5.94rem;
}

.cards {
    position: relative;
    display: flex;
    gap: 1rem;
    z-index: 2;
}

.navLink {
    text-decoration: none;
}

.card {
    padding: 1rem;
    width: 18rem;
    height: 12rem;
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    position: relative;
    cursor: pointer;
    background-color: #FFFFFF;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.numberCard {
    position: relative;
    left: 7rem;
    color: #CFCFCF;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

.card:hover {
    background-color: #FFB7C5;
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    height: 18rem;
}

.tituloCard {
    font-size: 1.25rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 0.5rem;
    text-align: center;
    color: var(--Text-Color-Heading, #1C0A0A);
    font-family: Pacifico;
    font-style: normal;
    line-height: 28px;
}

.cardTexto {
    font-size: 0.9rem;
    position: relative;
    top: 6rem;
    font-weight: 400;
    color: #555;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    padding: 0 1rem;
}

.card:hover .cardTexto {
    opacity: 1;
    visibility: visible;
}