.signupContainer {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #00DAC7, #F05080, #DBBD9C, #49f6ff);
    background-size: 400% 400%;
    animation: gradientBackground 5s ease infinite;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.signupBox {
    display: flex;
    width: 900px;
    overflow: hidden;
    

}

.signupLeft {
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}

.signupTitle {
    text-align: center;
    font-family: "Caveat", cursive;
    font-size: 36px;
    font: pacifico;
    color: black;
    margin-bottom: 50px;
}

.signupForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.signupInput {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.signupButton {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    background-color: #F05080;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.signupButton:hover {
    background-color: #ff5e7a;
}

.signupDivider {
    text-align: center;
    margin: 15px 0;
    color: black;
}

.signupSocialButton {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    background-color: white;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    gap: 90px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.signupSocialButton:hover {
    background-color: #f5f5f5;
}

.iconGoogle {
    color: #db4437;
}

.iconFacebook {
    color: #3b5998;
}

.signupFooter {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #ffffff;
}

.signupLink {
    color: #F05080;
    text-decoration: none;
    font-weight: bold;
}

.signupLink:hover {
    text-decoration: underline;
}

.signupRight {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signupImage {
    max-width: 80%;
    opacity: 0.9;
}
